<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fifteenpuzzlegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FifteenPuzzleGame">

        <!-- Statistics Activity -->
        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FifteenPuzzleGame.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" /> <!-- Locking this in portrait mode -->

        <!-- Launcher Activity -->
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FifteenPuzzleGame.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"> <!-- Locking this in portrait mode -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Game Activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FifteenPuzzleGame.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"> <!-- Locking this in portrait mode -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>

    </application>

</manifest>
